<!-- <app-bizhidao-ad-card></app-bizhidao-ad-card> -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-9 mb-3">
      <ngx-datatable class="material" 
      [rows]="rows" 
      [columnMode]="'force'" 
      [rowClass]="getRowClass" 
      [headerHeight]="50" 
      [footerHeight]="50"
      [rowHeight]="'auto'" 
      [selected]="selected" 
      [selectionType]="'single'"
      (select)='onSelect($event)'

        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'>
        <ngx-datatable-column prop="symbol" name="币种">
            <ng-template let-symbol="value" ngx-datatable-cell-template>
                <i class="cc {{symbol}}"></i>    
                <strong>{{symbol}}</strong>
              </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="price_cny" name="价格¥"></ngx-datatable-column>
        <ngx-datatable-column prop="percent_change_24h" name="日涨跌">
          <ng-template let-change="value" ngx-datatable-cell-template>   
            <span *ngIf=checkChange(change) style="color:red">{{change}}%
              <i class="fa fa-long-arrow-down" aria-hidden="true"></i>              
            </span>
            <span *ngIf=!checkChange(change) style="color:green">+{{change}}%
              <i class="fa fa-long-arrow-up" aria-hidden="true"></i>              
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="col-md-3 ml-md-auto">
      <div class="row">
        <div class="card text-black  mb-md-3 mx-md-auto">
          <div class="card-header bg-transparent">近期热门文章</div>
          <ul class="list-group">
            <li class="list-group-item">
              <a class="text-dark" href="https://mp.weixin.qq.com/s/ndCAcMGKqgNcCARxooPVEw">零基础精读比特币白皮书2</a>
            </li>
            <li class="list-group-item">
              <a class="text-dark" href="https://mp.weixin.qq.com/s/xYR9tLKqVulzOWGTCLEQmA">零基础精读比特币白皮书1</a>
            </li>
            <li class="list-group-item">
              <a class="text-dark" href="https://mp.weixin.qq.com/s?__biz=MzU5MTA5NjM3NQ==&mid=2247483698&idx=1&sn=b37b7ede5372017e73b3c00258346813&chksm=fe357e6ac942f77c54e2271054660a78d4f719ba037f0880e2c6765309be43c40ba5480065b7&scene=38#wechat_redirect">那个花10000枚比特币买披萨的哥们,最后怎么样了</a>
            </li>
            <li class="list-group-item">
              <a class="text-dark" href="https://mp.weixin.qq.com/s/lphAMp14_951XhBr1uKYqw">EOS.IO 存储 - 官方白皮书（译）</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="row">
              <div cla]ss="card text-black  mb-3 col">
                  <div class="card-header bg-transparent">近期热门文章</div>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
          <div class="row">
              <div class="card text-black  mb-3 col">
                  <div class="card-header bg-transparent">近期热门文章</div>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>     -->
    </div>
  </div>
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination pagination-table  ">
      <li *ngIf="showFirstPageButton" class="page-item" (click)="retrievePage1()">
        <a class="page-link pagination-table-font">首页</a>
      </li>
      <li *ngIf="!showFirstPageButton" class="page-item" (click)="retrievePageA(pageA)">
        <a class="page-link pagination-table-font page-active">{{pageA}}</a>
      </li>
      <li *ngIf="showFirstPageButton" class="page-item" (click)="retrievePageA(pageA)">
        <a class="page-link pagination-table-font">{{pageA}}</a>
      </li>
      <li *ngIf="!showFirstPageButton" class="page-item" (click)="retrievePageB(pageB)">
        <a class="page-link pagination-table-font">{{pageB}}</a>
      </li>
      <li *ngIf="showFirstPageButton" class="page-item" (click)="retrievePageB(pageB)">
        <a class="page-link pagination-table-font page-active">{{pageB}}</a>
      </li>
      <li class="page-item" (click)="retrievePageC(pageC)">
        <a class="page-link pagination-table-font">{{pageC}}</a>
      </li>
    </ul>
  </nav> -->

</div>