.pagination-table{
  float: left;
}

.pagination-table-font{
  color:black;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-active{
  background-color: rgba(0, 0, 0, 0.05);
}

li {
  border: transparent;
  font-size: small;
}

.icon {
  font-size: 1.5rem;
}
