<div class="row no-gutters">
  <div class="col-2 align-items-center">
    <i class="cc {{marketcapdata.symbol}} icon"></i>
  </div>
  <div class="col align-items-center mt-2"  >
    <p>{{marketcapdata.name}} {{marketcapdata.symbol}}</p>
    <p>{{marketcapdata.price_cny}}¥</p>
  </div>
  <div class="col">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-6 col-sm-4 mb-2">
    <p>24小时涨跌:</p>
    <p>{{marketcapdata.percent_change_24h}}</p>    
  </div>
  <div class="col-6 col-sm-4 mb-2">
    <p>市值:</p>
    <p>{{marketcapdata.market_cap_cny}}¥</p>
  </div>
  <div class="col-6 col-sm-4">
      <p>24小时交易量:</p>
      <p>{{marketcapdata.h_24_volume_cny}}¥</p>
  </div>
</div>
<hr>
