<table class="table">
  <!-- <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
    </tr>
  </thead> -->
  <tbody>
    <tr>
      <td>24小时成交量</td>
      <td>¥{{marketcapdata['h_24_volume_cny']}} </td>
    </tr>
    <tr>
      <td>24小时成交量</td>
      <td>${{marketcapdata['h_24_volume_usd']}} </td>
    </tr>
    <!-- <tr>
      <td>available_supply</td>
      <td>{{marketcapdata['available_supply']}} </td>
    </tr> -->
    <!-- <tr>
      <td>id</td>
      <td>{{marketcapdata['id']}} </td>
    </tr> -->
    <!-- <tr>
      <td>last_updated</td>
      <td>{{marketcapdata['last_updated']}} </td>
    </tr> -->
    <tr>
      <td>{{marketcapdata['id']}}流通市值</td>
      <td>{{marketcapdata['market_cap_cny']}} </td>
    </tr>
    <!-- <tr>
      <td>market_cap_usd</td>
      <td>{{marketcapdata['market_cap_usd']}} </td>
    </tr> -->
    <!-- <tr>
      <td>name</td>
      <td>{{marketcapdata['name']}} </td>
    </tr> -->
    <tr>
      <td>过去一小时涨跌</td>
      <td>{{marketcapdata['percent_change_1h']}} </td>
    </tr>
    <tr>
      <td>过去一周涨跌</td>
      <td>{{marketcapdata['percent_change_7d']}} </td>
    </tr>
    <tr>
      <td>过去一天涨跌</td>
      <td>{{marketcapdata['percent_change_24h']}} </td>
    </tr>
    <tr>
      <td>兑换bitcoin价格</td>
      <td>{{marketcapdata['price_btc']}} </td>
    </tr>
    <tr>
      <td>价格</td>
      <td>¥{{marketcapdata['price_cny']}} </td>
    </tr>
    <tr>
      <td>价格</td>
      <td>${{marketcapdata['price_usd']}} </td>
    </tr>
    <tr>
      <td>排名</td>
      <td>{{marketcapdata['rank']}} </td>
    </tr>
    <!-- <tr>
      <td>symbol</td>
      <td>{{marketcapdata['symbol']}} </td>
    </tr> -->
    <tr>
      <td>{{marketcapdata['id']}}流通总量</td>
      <td>{{marketcapdata['total_supply']}} </td>
    </tr>
  </tbody>
</table>