<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a class="navbar-brand" href="#">
    <img src="/assets/bzd.png" width="40" height="40" alt="bizhidao loggo">
    币知道小助手
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-item btn-group margin-dropDown" *ngFor="let menuItem of menuCN" >  
        <a class="nav-link btn "  aria-haspopup="true" aria-expanded="false" [routerLink]="[menuItem.menuName]"  routerLinkActive="active">{{menuItem.menuName}}</a>
      </div>
    </ul>
    <form class="form-inline">
        <input class="form-control mr-2 col-8" type="search" placeholder="搜索任何你感兴趣的" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
