<div class="container nav-text-color">
  <app-coin-detail-header></app-coin-detail-header>
  <ul class="nav nav-tabs " id="myTab" role="tablist">
    <div class="container row no-gutters">
      <div class="col">
      <li class="nav-item">
        <!-- let angular decide which to be active -->
        <a class="nav-link active text-dark" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true"
          routerLink="/交易所差价/bitcoin/exchange">交易所</a>
      </li>
    </div>
    <!-- <div class="col">
        
      <li class="nav-item">
        <a class="nav-link text-dark" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false"
          routerLink="/交易所差价/bitcoin/trending">趋势图</a>
      </li>
    </div> -->
    
      <div class="col">
          
      <li class="nav-item">
        <a class="nav-link text-dark" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false"
          routerLink="/交易所差价/bitcoin/detail">详细信息</a>
      </li>
    </div>
    
    </div>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>